# Lab 1: Getting Started with Jupyter Notebook & Pandas
Name: Eva Santana 

This notebook demonstrates how to create and manipulate a dataset using Python with the Pandas Library. 
I will generate random data with mutliple data types, explore it, and save it to a CSV file.

In [1]:
# Imported libraries 
import pandas as pd
import numpy as np
import random
from datetime import datetime

# Create dataset
np.random.seed(30)
data = {
    'Student_ID': range(1, 51),
    'Score': np.random.uniform(50, 100, 50),
    'Major': np.random.choice(['Biology', 'Math', 'Computer Science', 'Art', 'History'], 50),
    'Graduation_Year': np.random.choice([2024, 2025, 2026, 2027], 50),
    'Pass': np.random.choice([True, False], 50)
}

# Convert to DataFrame
df = pd.DataFrame(data)

This part will show the first and last 5 rows of the dataset, columns names and data types, summary statistics, and then counts the like majors together.

In [2]:
# Display first and last 5 rows
print(df.head())
print(df.tail())

# Column names and data types
print(df.dtypes)

# Descriptive statistics
print(df.describe())

# Unique values in 'Major'
print(df['Major'].value_counts())

   Student_ID      Score             Major  Graduation_Year   Pass
0           1  82.207177  Computer Science             2026  False
1           2  69.037424           History             2027  False
2           3  83.152395  Computer Science             2025  False
3           4  58.182536               Art             2024  False
4           5  98.130391              Math             2024   True
    Student_ID      Score    Major  Graduation_Year   Pass
45          46  78.654425     Math             2027  False
46          47  95.867904     Math             2025  False
47          48  90.948797  History             2025  False
48          49  58.159045  Biology             2024  False
49          50  51.207738      Art             2027   True
Student_ID           int64
Score              float64
Major               object
Graduation_Year      int64
Pass                  bool
dtype: object
       Student_ID      Score  Graduation_Year
count    50.00000  50.000000        50.000000
mean     25.50000  73.964049      2025.560000
std      14.57738  13.756144         1.090965
min       1.00000  51.207738      2024.000000
25%      13.25000  62.522357      2025.000000
50%      25.50000  71.976731      2025.500000
75%      37.75000  84.101013      2026.750000
max      50.00000  99.709684      2027.000000
Major
History             13
Art                 12
Computer Science    11
Math                 9
Biology              5
Name: count, dtype: int64

This code defines a function that converts numeric scores into letter grades (A-F) based on set ranges.
Then it applies that function to the Score column to create a new letter_grade column in the dataframe 
Then the DataFrame gets updated with that column and a CSV file is created with the DataFrame

In [3]:
# Function to convert score into letter grade
def grade(score):
    if score >= 90:
        return 'A'
    elif score >= 80:
        return 'B'
    elif score >= 70:
        return 'C'
    elif score >= 60:
        return 'D'
    else:
        return 'F'

df['Letter_Grade'] = df['Score'].apply(grade)

# Display new DataFrame
df.head()

# Save to CSV
df.to_csv('Lab1Results.csv', index=False)